<!DOCTYPE html>
<meta charset="utf-8">
<meta name="csrf" content="{{ csrf_token() }}">
<meta name="email" content="{{ email() }}">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
{% block head %}{% endblock %}
<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<title>{% block title %}Fleeting{% endblock %}</title>
<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Fleeting</a>
      {% if email() %}
      <ul class="nav pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown" href="#">{{ email() }}
             <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a class="js-logout" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
      {% else %}
      <button class="btn btn-primary pull-right js-login">Login</button>
      {% endif %}
    </div>
  </div>
</div>
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <br>
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message|safe }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</div>
<script src="/static/vendor/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="https://login.persona.org/include.js"></script>
<script src="/static/login.js"></script>
{% block scripts %}{% endblock %}
