{% extends "layout.html" %}
{% block head %}
<meta name="repository" content="{{ project.meta.repo }}">
{% endblock %}
{% block title %}Fleeting - {{ project.meta.name }} Instances{% endblock %}
{% block content %}
  <h1>{{ project.meta.name }} Instances</h1>
  <p>This project's home is <a href="https://github.com/{{ project.meta.repo }}">{{ project.meta.repo }}</a>.</p>
  {% if email() %}
  <div class="well">
    <h3>Deploy An Instance</h3>
    <p>Fleeting instances will only exist for 24 hours, after which they will be destroyed.</p>
    <form method="POST" action="create" class="form-inline">
      <input type="text" name="user" class="input-small js-github-user" placeholder="Github User" required>
      <input type="text" name="branch" class="input-small js-github-branch" placeholder="Branch" required>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <button type="submit" class="btn">Deploy</button>
    </form>
  </div>
  {% endif %}
  <div id="js-project-list">
    {% include "project-list.html" %}
  </div>
{% endblock %}
{% block scripts %}
<script src="/static/vendor/lscache.js"></script>
<script src="/static/project.js"></script>
{% endblock %}
